.bc-background-amazon,
.bc-background-amazon-1 { background-color: #ff9900; }
.bc-color-amazon,
.bc-color-amazon-1 { color: #ff9900; }
.bc-background-amazon-2 { background-color: #146eb4; }
.bc-color-amazon-2 { color: #146eb4; }
